<div class="container">
<h1>About Us</h1>
<p>Just because dogs, as the Good Book says, dined on the flesh of Jezebel, doesn't mean your precious family pet
should live in sin and consort with pets who don't walk the path of the righteous.  The Spirit moved me to create a 
service that bring together dogs in the light of the Lord. Amen.</p>

</div>