<!doctype html>

<html>
 <head></head>
 <body>
      <p>You have received a message from the site's contact form, from
    <%= "#{ @name }"%> email at <%="#{ @email }." %></p>
    <p><%= @comments %></p>
 </body>
    
</html>